* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  font-weight: 300;
}

body {

  background: #eee;


}


header{ 
  padding: 0 0 10px 0;
  margin: 50px 0 0 0;
  height: 100px;
  width: 100%;
  /* background: rgb(239, 56, 56);   */
  text-align: center;
}

img{
  height: 90%;
  width: auto;

  /* background: rgb(136, 238, 212); */
}



main{
  /* background: rgb(239, 56, 56);  */




}

.contenedor{
  width: 100%;
  margin: 0 auto;
  padding: calc(3% * 1.5);
  display: flex;
  align-items: center;
  justify-content: space-between;

} 


.plan__contenedor{
  width: 32%;
  height: 100%;
  padding: 60px 30px;
  background: #eee;
  box-shadow:  3px 3px 8px rgba(0, 0, 0, 0.15);
  border-radius: 25px;

  position: relative;

  display: flex;
  flex-direction: column;
  

}

.plan__contenedor::before{
  content: '';

  position: absolute;
  top: 0;
  left: 0;
  display: block;

  height: 100%;
  width: 100%;
  box-shadow:  -5px -5px 5px rgba(255, 255, 255, 0.75);
  border-radius: 25px;

}

.plan__textos{
  margin: 0 auto;
  display: grid;
  grid-template-columns: min-content repeat(3, auto);
  grid-template-rows: min-content repeat(2, auto);


}

.plan__nro{
  grid-column: 1/2;
  grid-row: 1/3;

  line-height: 1;
  margin-bottom:auto ;


  font-family: Roboto;
  font-size: 60px;
  font-weight: 700;
  padding: 0 5px 0 0;
}

.plan__titulo{
  grid-column: 2/-1;
  grid-row: 1/2;

  margin-top:auto ;
  padding-top: 7px;

  font-size: 25px;
  letter-spacing: 0;
  line-height: 1;
  font-weight: 800;
}

.plan__subtitulo{
  grid-column: 2/-1;
  grid-row: 2/3;
}



.plan__lista{
  padding: 40px 0 50px 0;
  font-size: 18px;
}


.contenedor02 > .plan__lista{
  padding: 70px 0 50px 0;
}

li{
  padding: 10px;
  margin-left: 22px;
}


.plan__precio{
  text-align: center;
  font-size: 25px;
  letter-spacing: 0;
  line-height: 1;
  font-weight: 800;
}



@media screen and (max-width:900px) {


  img{
    height: 85%;

  }

  .contenedor{
    width: 100%;
    margin: 0 0;
    padding: calc(3% * 1.5);
    display: flex;
    flex-direction: column;

  }
  
  
  .plan__contenedor{
    width: 80%;
    height: 100%;
    margin: 50px 0;
    padding: 60px 30px;
    background: #eee;
    box-shadow:  3px 3px 8px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
  
    position: relative;
  
    display: flex;
    flex-direction: column;
    
  
  }


}

@media screen and (max-width:600px) {


  
  img{
    height: 80%;
  }

  .contenedor{
    width: 100%;
    margin: 0 0;
    padding: calc(3% * 1.5);
    display: flex;
    flex-direction: column;

  }
  
  
  .plan__contenedor{
    width: 90%;
    height: 100%;
    margin: 0 0 40px 0;
    padding: 60px 30px;
    background: #eee;
    box-shadow:  3px 3px 8px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
  
    position: relative;
  
    display: flex;
    flex-direction: column;
    
  
  }


  .plan__textos{
    margin: 0 0;
    display: grid;
    grid-template-columns: min-content repeat(3, auto);
    grid-template-rows: min-content repeat(2, auto);
  
  
  }

  .contenedor02 > .plan__lista{
    padding: 40px 0 50px 0;
  }

  .plan__precio{
    text-align: right;
    padding-right: 20px;

  }

  .plan__titulo{

  
    font-size: 22px;

  }

  .plan__lista{
    padding: 30px 0 50px 0;
    font-size: 16px;
  }


}

 

